.board {
    display: grid;
    height: 150px;
    width: 150px;
    margin-bottom: 30px;
    grid-gap: 2px;
}

.board {
    transform: skew(35deg) translateX(-40px);
}

.cube {
    transform: rotate(-20deg) translateX(62px);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.tile {
    background-color: #c7c7c7;
    border-color: transparent;
    border-width: 0px;
    color: white;
}

.tile.playerx, button.playerx {
    background-color: #ff8585;
    color: #3c3c3c;
}

.tile.playero, button.playero {
    background-color: aquamarine;
    color: #3c3c3c;
}
