body {
    font-family: monospace;
    margin: 0;
    color: #ffff9a;
}

.elm-tic-tac {
    height: 100vh;
    width: 100%;
    margin: 0;
    /*background-color: #feffc8;*/
    background-color: #778899;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.game {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.gametitle {
    font-size: 2rem;
    color: #00ff7f;
    margin-top: 1rem;
}

.initial-screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


input {
    font-family: monospace;
    font-size: 1rem;
    padding: 10px;
}

.tile {
    background-color: #c7c7c7;
    border-color: transparent;
    border-width: 0px;
    color: white;
}

.tile.playerx, button.playerx {
    background-color: #ff8585;
    color: #3c3c3c;
}

.tile.playero, button.playero {
    background-color: aquamarine;
    color: #3c3c3c;
}


.footer {
    height: 3rem;
    background-color: #c7c8c7;
    color: #3c3c3c;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.left, .right, .center {
    flex-grow: 1;
    text-align: center;
    height: 100%;
}

.right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.room-connection {
    background-color: #272727;
    color: antiquewhite;
    padding: 1rem;
    text-align: left;
    margin-top: auto;
}

.score {
    padding: 1rem;
    margin: 0 1rem;
    background-color: #c7c7c7;
    color: #768899;
}

.score.playerx {
    background-color: #ff8585;
}

.score.playero {
    background-color: #7fffd3;
}

.score.disabled {
    opacity: 0.2;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
