body {
    font-family: monospace;
    margin: 0;
    color: #ffff9a;
}

.gametitle {
    font-size: 2rem;
    color: #00ff7f;
    margin-top: 1rem;
}

.initial-screen {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


input {
    font-family: monospace;
    font-size: 1rem;
    padding: 10px;
}


.score {
    padding: 1rem;
    margin: 0 1rem;
    background-color: #c7c7c7;
    color: #768899;
}

.score.playerx {
    background-color: #ff8585;
}

.score.playero {
    background-color: #7fffd3;
}

.score.disabled {
    opacity: 0.2;
}
